{% extends "main.html" %}
{% load static %}
{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
{% endblock specific_head %}
{% block main %}
<div class="row mt-4">
  <div class="col-12">
    <div class="row">
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
  </div>
</div>
{% endblock main %}
{% block specific_scripts %}
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.min.js' %}"></script>
<script src="{% static 'js/utilsCharts.js' %}"></script>
{% endblock specific_scripts %}
