<table class="table table-responsive-lg table-condensed table-hover text-left" id="reportes">
    <thead>
        <tr>
            <th scope="col">Transacción</th>
            <th scope="col">Cliente</th>
            <th scope="col">Productos</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo pago</th>
            <th scope="col">Subtotal</th>
            <th scope="col">IVA</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody id="reportBody">

    </tbody>
</table>