{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock specific_head %}

{% block main %}
<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">{{title|upper}}</h2>
  </div>
  <div class="col">
    {% if view.kwargs.type == 'E' %}
    <a href="{% url 'seguridad:agregar_rol' %}" class="btn btn-primary float-right">Agregar roles <i
      class="fas fa-plus-circle"> </i></a>
    {% endif %}
    <a href="{% url 'seguridad:agregar' %}?type={{view.kwargs.type}}" class="btn btn-primary float-right">Agregar usuarios <i
        class="fas fa-plus-circle"> </i></a>
  </div>
  <hr>
</div>
<div class="row mt-4 justify-content-center">
  <div class="col-12 col-lg-9">
    <form method="get">
      {% crispy filter.form %}
      {% include "export_records.html" %}
    </form>
  </div>
  <div class="col-12 table-container">
    <table class="table table-responsive-lg table-hover" id="tabla-usuarios">
      <tbody>
        {% if page_obj %}
        {% for usuario in page_obj %}
        <tr>
          <td scope="row">
            {% if usuario.imagen and usuario.imagen.url %}
            <img src="{{usuario.imagen.url}}" alt="{{usuario.nombres}}" class="table__image">
            {%else%}
            <img src="{% static 'images/generic_user.png' %}" alt="{{usuario.nombres}}" class="table__image">
            {% endif %}
          </td>
          <td>
            <p>{{usuario.nombres}} {{usuario.apellidos}}</p>
            <p>
              <span class="mr-3"><b>CI:</b> {{usuario.cedula}}</span>
              {% if view.kwargs.type == 'C'%}
              <span><b>CU:</b> {{usuario.codigo}}</span>
              {% endif %}
            </p>
            {% if view.kwargs.type == 'E'%}
            <p><b>Rol:</b>
              {% if usuario.usuario.groups.all %}
                {% for grupo in usuario.usuario.groups.all %}
                  <span>{{grupo}} </span>
                {% endfor %}
              {% endif %}
            </p>
            {% endif %}
            <p><b>Email:</b> {{usuario.usuario.email}}</p>
            <p><b>Fecha de registro:</b> {{usuario.created_at}}</p>
          </td>
          <td>
            {{usuario.membresia}}
            <p><b>Telf:</b> {{usuario.telefono}}</p>
            {% if usuario.added_by %}
            <p><b>Creado por:</b> {{usuario.added_by}}</p>
            {% endif %}
            {% if usuario.created_from %}
            <p><b>Creado desde:</b> {{usuario.get_created_from_display}}</p>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'seguridad:editar' pk=usuario.pk %}?type={{usuario.tipo}}" class="btn btn-primary">
              Ver perfil <i class="fas fa-edit "></i>
            </a>
          </td>
          <td>
            <input type="checkbox" {%if usuario.usuario.is_active%}checked{%endif%} class="use-modal" data-toggle="toggle" 
              data-type="checkbox" data-on="Habilitado" data-off="Deshabilitado" data-onstyle="success" data-offstyle="danger" 
              data-target="#mainModal" data-url-activar="{%url 'seguridad:activar' usuario.pk%}?type={{usuario.tipo}}" 
              data-url-eliminar="{%url 'seguridad:eliminar' usuario.pk%}?type={{usuario.tipo}}"
            >
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <h4>
          No se encontraron datos.
        </h4>
        {% endif %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsDates.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal.js' %}"></script>
<script>
  $(".export").click(function () {
    $("#export").val($(this).data('value'));
    $('form').submit()
  });
  $('button[type="submit"]').click(function (e) {
    $("#export").val('');
  })
</script>
{% endblock %}
