{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% csrf_token %}
{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock specific_head %}

{% block main %}
<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">{{title}}</h2>
  </div>
  <hr>
</div>

<br>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Stock de productos
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <form action="">
          <select name="categorias" id="categorias">
            <option value="" selected disabled>Seleccione una categoría para mostrar</option>
            {% for categoria in categorias %}
            <option value="{{categoria.id}}">{{categoria.nombre}}</option>
            {% endfor %}
          </select>
        </form>
        <div id="container" style="width: 75%;">

          <canvas id="chartCanvas" data-url="{% url 'charts:productos' %}">

          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsDates.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal2.js' %}"></script>
<script>

  $("#categorias").change(function () {
    try{
      chart.destroy(); 
    }catch{}
    $.ajax({
      url: "/reportes/stockChart/" + $("#categorias option:selected").val(),
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        var ctx = document.getElementById("chartCanvas").getContext("2d");
        chart = new Chart(ctx, { type: 'bar',
          options: {
            responsive: true,
            scales:{yAxes:[{ticks:{beginAtZero: true}}]}
          }});
        const title = jsonResponse.title;
        const labels = jsonResponse.data.labels;
        const datasets = jsonResponse.data.datasets;

        // Load new data into the chart
        chart.options.title.text = title;
        chart.options.title.display = true;
        chart.data.labels = labels;
        datasets.forEach(dataset => {
          chart.data.datasets.push(dataset);
        });
        chart.update();
      },
      error: () => console.log("Failed to fetch chart data from " + endpoint + "!")
    });
  });
</script>

<script>
  $(".export").click(function () {
    $("#export").val($(this).data('value'));
    $('form').submit()
  });
  $('button[type="submit"]').click(function (e) {
    $("#export").val('');
  })
</script>

{% endblock %}