{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% csrf_token %}
{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock specific_head %}

{% block main %}
<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">{{title}}</h2>
  </div>
  <hr>
</div>

<br>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Stock de productos
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <form action="">
          <select name="categorias" id="categorias">
            <option value="" selected disabled>Seleccione una categoría para mostrar</option>
            {% for categoria in categorias %}
            <option value="{{categoria.id}}">{{categoria.nombre}}</option>
            {% endfor %}
          </select>
        </form>
        <div id="container" style="width: 75%;">

          <canvas id="chartCanvas" data-url="{% url 'charts:productos' %}">

          </canvas>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="heading2">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse2"
          aria-expanded="true" aria-controls="collapse2">
          Stock de productos
        </button>
      </h5>
    </div>

    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
      <div class="card-body">
        <form action="">
            <p>Seleccione un rango de fechas</p>
            <input type="date" id="fechaI" required>
            <input type="date" id="fechaF" required>
            <a id="botonFecha" class="btn btn-primary">Buscar</a>
        </form>
        <div id="container" style="width: 75%;">

          <canvas id="chartCanvas2" data-url="{% url 'charts:productos' %}">

          </canvas>
        </div>
      </div>
    </div>
  </div>




</div>
{% endblock main %}

{% block specific_scripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsDates.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/charts.js' %}"></script>


<script>
  $(".export").click(function () {
    $("#export").val($(this).data('value'));
    $('form').submit()
  });
  $('button[type="submit"]').click(function (e) {
    $("#export").val('');
  })
</script>

{% endblock %}