.panel {
  background-color: var(--login-panel-color);
  border: 3px solid var(--login-panel-color-border);
}

body {
  /* background-image: url("../../images/fondo.png"); */
  background-color: var(--bg-color);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .main-div {
    width: 100%;
  }
  img {
    height: 152px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .main-div {
    width: 60%;
  }
  img {
    height: 152px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .main-div {
    width: 40%;
  }
  img {
    height: 152px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .main-div {
    width: 38%;
  }
  img {
    height: 152px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-div {
    width: 30%;
  }

  img {
    height: 142px;
  }
}

@media only screen and (min-width: 1500px) {
  .main-div {
    width: 20%;
  }

  img {
    height: 142px;
  }
}

small {
  color: black;
}

.login-header {
  font-size: large;
  /* background-image: url('../../images/logo.png') ; */
}

.login-title {
  text-align: center;
  color: var(--white-color);
}

.btn-success {
  width: 100%;
}

.login-container {
  padding: 1rem;
}

.btn-login {
  text-align: center;
}

input:focus {
  border: 1px solid var(--black-color) !important;
  box-shadow: none !important;
  outline: none !important;
}

.btn-login button {
  width: 100%;
  border-radius: 0px;
  border: 0px;
  background-color: var(--login-btn-color);
}

.btn-login button:hover {
  background-color: var(--login-btn-color-hover);
}

.btn-login button:active {
  background-color: var(--login-btn-color-active)!important;
}
