/* .panel {
  background-color: var(--login-panel-color);
  border: 3px solid var(--login-panel-color-border);
} */

body {
  background-image: url('../../images/fondo.png');
  background-color: var(--login-bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main-div {
    width: 100%;
  }
  img {
    height: 152px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main-div {
    width: 60%;
  }
  img {
    height: 152px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-div {
    width: 40%;
  }
  img {
    height: 152px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-div {
    width: 38%;
  }
  img {
    height: 152px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-div {
    width: 30%;
  }
  img {
    height: 142px;
  }
}

@media only screen and (min-width: 1500px) {
  .main-div {
    width: 20%;
  }
  img {
    height: 142px;
  }
}

input:focus {
  border: 1px solid var(--black-color) !important;
  box-shadow: none !important;
  outline: none !important;
}

.btn-login {
  width: 100%;
  border: 0px;
  background-color: var(--login-btn-color);
  font-weight: 500;
}

.btn-login:hover {
  background-color: var(--login-btn-color-hover);
}

.btn-login:active {
  background-color: var(--login-btn-color-active) !important;
}

.form-control {
  background-color: unset !important;
  border: 0!important;
  border-radius: 0!important;
  border-bottom: 1px var(--lighter-gray-color) solid!important;
  color: var(--white-color)!important;
}

.form-control:focus {
  background-color: var(--black-color)!important;
  border: 0!important;
  border-radius: 0!important;
  border-bottom: 2px var(--white-color) solid!important;
  color: var(--white-color)!important;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--black-color) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--black-color) inset !important;
  color: var(--white-color);
  -webkit-text-fill-color: var(--white-color);
}
