<div class="modal-header">
  <h5 class="modal-title" id="ordenTitle">Deshabilitar recompensa NC</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form method="POST" action="{%url 'novacoin:cambiar_estado' object.id%}">
  {% csrf_token %}

  <div class="modal-body">
    ¿Desea deshabilitar la siguiente recompensa NC?
    <div class="row">
      <div class="col-3">
        Título
      </div>
      <div class="col">
        {{object.motivo.nombre}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Descripción
      </div>
      <div class="col">
        {{object.texto}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Recompensa
      </div>
      <div class="col">
        {{object.coins}} NC
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button class="btn btn-danger mr-3" type="submit"> Deshabilitar </button>
  </div>
</form>
