html,
body {
  height: 100%;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif !important;
}

.main {
  min-height: 100%;
  padding-top: 100px;
}

.main-content {
  background-color: var(--gray-white-color);
}

.footer {
  height: 50px;
  margin-top: -50px;
  background-color: var(--lighter-gray-color);
  line-height: 50px; /* Vertically center the text there */
}

.form-group {
  margin-bottom: 0.3rem;
}

.col-form-label {
  padding-bottom: 0 !important;
}

.black-bg {
  background-color: var(--black-color) !important;
  border-color: var(--black-color) !important;
}

.black-text {
  color: var(--black-color) !important;
}

.darkwhite-bg {
  background-color: var(--gray-white-color);
}

.white-bg {
  background-color: var(--white-color) !important;
  border-color: var(--white-color) !important;
}

.white-text {
  color: var(--white-color) !important;
}

.select2-container .select2-selection--single {
  height: calc(1.5em + 0.75rem + 2px) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px !important;
}

input.form-control,
select.form-control,
select.select,
textarea.form-control,
.custom-file .custom-file-label {
  border: 1px solid var(--light-gray-color);
  border-radius: 20px;
}

input:focus {
  border: 1px solid var(--black-color) !important;
  box-shadow: none !important;
  outline: none !important;
}

.btn {
  border-radius: 50px;
}

.v-navbar {
  max-width: 425px;
}

.navbar {
  background-color: var(--navbar-color);
  height: 100px;
  padding: 0;
}

.navbar__logo {
  width: 450px;
  height: 120px;
  background-color: var(--black-color);
  border-radius: 0 0 40px;
}

.navbar__logo img {
  max-width: 250px;
}

.btn-primary {
  background-color: var(--btn-primary-color) !important;
  border: 1px solid var(--btn-primary-color) !important;
  color: var(--black-color);
}

.btn-primary:hover {
  background-color: var(--btn-primary-color-hover) !important;
  border: 1px solid var(--btn-primary-color-hover) !important;
  color: var(--black-color);
}

.btn-primary:active {
  background-color: var(--btn-primary-color-active) !important;
}

.btn-secondary {
  background-color: var(--btn-secondary-color) !important;
  border: 1px solid var(--btn-secondary-color) !important;
  color: var(--black-color);
}

.btn-secondary:hover {
  background-color: var(--btn-secondary-color-hover) !important;
  border: 1px solid var(--btn-secondary-color-hover) !important;
  color: var(--black-color);
}

.page-item.active .page-link {
  background-color: var(--pagination-color);
  border-color: var(--pagination-color-border);
}
.page-link {
  color: var(--black-color);
}
.page-link:hover {
  color: var(--pagination-color-hover) !important;
}

.dollar-value {
  white-space: nowrap;
}

.alert {
  margin: 0;
  text-align: center;
}

.alert-error {
  color: var(--alert-color);
  background-color: var(--alert-color-bg);
  border-color: var(--alert-color-border);
}

.menu,
.menu:hover {
  text-decoration: none;
  color: var(--black-color);
}

.menu-container {
  border-bottom: 1px solid var(--black-color);
  background-color: var(--primary-color);
}

.menu-container--active {
  background-color: var(--primary-color-darker);
}

.menu--collapsable {
  cursor: pointer;
}

.menu--collapsable .menu .row {
  padding-left: 50px;
}

.menu__image {
  width: 75px;
  height: 75px;
  margin-left: 25px;
}

.menu__title {
  font-size: 20px;
  font-weight: 400;
  padding-left: 25px;
}
