:root {
  /* Colors */
  --red-color: #ff0000;
  --red-color-dark: #8f222d;
  --red-color-darker: #551118;
  --pink-color-light: #f8d7da;
  --white-color: #ffff;
  --lighter-gray-color: #f5f5f5;
  --gray-white-color: #f7f7f8;
  --light-gray-color: #aaa;
  --black-color: #000;

  --primary-color: #ffd600;
  --primary-color-dark: #e6bf00;
  --primary-color-darker: #ccaa00;
  --primary-color-light: #ffd91a;
  --primary-color-lighter: #ffdd33;

  --secondary-color: #424242;
  --secondary-color-dark: #292929;
  --secondary-color-darker: #000;
  --secondary-color-light: #5a5a5a;
  --secondary-color-lighter: #aaa;

  --navbar-color: var(--white-color);
  
  --btn-primary-color: var(--primary-color);
  --btn-primary-color-border: var(--primary-color-darker);
  --btn-primary-color-hover: var(--primary-color-dark);
  --btn-primary-color-active: var(--primary-color-darker);

  --btn-secondary-color: var(--secondary-color);
  --btn-secondary-color-border: var(--secondary-color-darker);
  --btn-secondary-color-hover: var(--secondary-color-dark);
  --btn-secondary-color-active: var(--secondary-color-darker);

  /* Login Section*/
  --login-bg-color: var(--black-color);
  --login-panel-color: var(--black-color);
  --login-panel-color-border: var(--light-gray-color);
  --login-btn-color: var(--primary-color);
  --login-btn-color-hover: var(--primary-color-dark);
  --login-btn-color-active: var(--primary-color-darker);

  --pagination-color: var(--secondary-color);
  --pagination-color-border: var(--secondary-color-darker);
  --pagination-color-hover: var(--secondary-color-dark);

  --alert-color: var(--red-color-dark);
  --alert-color-bg: var(--pink-color-light);
  --alert-color-border: var(--pink-color-light);
}
