<div class="modal-header">
  <h5 class="modal-title" id="ordenTitle">Máquinas reservadas para hoy</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% csrf_token %}

<div class="modal-body">
  <table class="table table-responsive-lg table-condensed table-hover text-center">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cédula</th>
        <th scope="col">Posición</th>
        <th scope="col">Horario</th>
      </tr>
    </thead>
    <tbody>
      {% for reserva in reservas %}
      <tr>
        <td>{{reserva.usuario.nombres}} {{reserva.usuario.apellidos}}</td>
        <td>{{reserva.usuario.cedula}}</td>
        <td>{{reserva.maquina.zona}}: {{reserva.posicion.fila}}{{reserva.posicion.columna}}</td>
        <td>{{reserva.horario_inicio}} - {{reserva.horario_fin}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>