{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock specific_head %}

{% block main %}
<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">{{title|upper}}</h2>
  </div>
  <div class="col">
    <a href="{% url 'novacoin:agregar' %}" class="btn btn-primary float-right">Agregar Recompensa <i
      class="fas fa-plus-circle"> </i>
    </a>
    <a href="{% url 'novacoin:tasa' pk=1 %}" class="btn btn-primary float-right mr-2">Tasa de Cambio
      <i class="fas fa-arrow-down-arrow-up"></i>
    </a>
  </div>
  <hr>
</div>

<div class="row mt-4 justify-content-center">
  <div class="col-12 col-lg-9">
    <form method="get">
      {% crispy filter.form %}
    </form>
  </div>
  <div class="col-12 table-container">
    <table class="table table-responsive-lg table-hover" id="tabla-recompensa-nc">
      <tbody>
        {% for recompensa in recompensas %}
        <tr>
          <td>
            <img src="{% static 'images/generic_coin.png' %}" alt="{{recompensa.motivo.nombre}}" class="table__image">
          </td>
          <td>
            <p>{{recompensa.motivo.nombre}}</p>
            <p>Recompensa: {{recompensa.coins}} NC</p>
            <p>Fecha: {{recompensa.created_at}}</p>
          </td>
          <td style="width: 160px;">
            <a href="{% url 'novacoin:editar' pk=recompensa.pk %}" class="btn btn-primary btn-block">
              Editar <i class="fas fa-edit "></i>
            </a>
            <a href="#" class="btn btn-danger btn-block use-modal" data-toggle='modal' data-target="#mainModal"
              data-url="{%url 'novacoin:eliminar_perma' pk=recompensa.pk%}">
              Eliminar <i class="fas fa-skull-crossbones"></i>
            </a>
          </td>
          <td class="text-center">
            <input type="checkbox" {%if recompensa.estado%}checked{%endif%} class="use-modal" data-toggle="toggle" 
              data-type="checkbox" data-on="Habilitado" data-off="Deshabilitado" data-onstyle="success" data-offstyle="danger" 
              data-target="#mainModal" data-url-activar="{%url 'novacoin:cambiar_estado' recompensa.pk%}" 
              data-url-eliminar="{%url 'novacoin:cambiar_estado' recompensa.pk%}"
            >
          </td>
        </tr>
        {% empty %}
        <h4>
          No se encontraron datos.
        </h4>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
</div>

{% endblock main %}
{% block specific_scripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsDates.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal.js' %}"></script>
{% endblock %}