{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock specific_head %}

{% block main %}
<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">{{title|upper}}</h2>
  </div>
  <div class="col">
    <a href="{% url 'notificaciones:crear' %}" class="btn btn-primary float-right" style="margin-right: 2%;">Agregar
      notificación <i class="fas fa-plus-circle"> </i></a>
  </div>
  <hr>
</div>
<div class="row mt-4">
  <div class="col-12 table-container">
    <table class="table table-responsive-lg table-hover" id="tabla-notificacion">
      {% if page_obj %}
      {% for notificacion in page_obj %}
      <tr>
        <td>
          {% if notificacion.imagen and notificacion.imagen.url %}
          <img src="{{notificacion.imagen.url}}" alt="{{notificacion.titulo}}" class="table__image">
          {%else%}
          <img src="{% static 'images/generic_notificacion.png' %}" alt="{{notificacion.titulo}}" class="table__image">
          {% endif %}
        </td>
        <td>
          <p><b>{{notificacion.nombre}}</b></p>
          <p><b>Frecuencia:</b> {{ notificacion.get_frecuencia_display }}</p>
          {% if notificacion.fecha_inicio %}
          Desde {{notificacion.fecha_inicio}} hasta {{notificacion.fecha_fin}} a las {{notificacion.hora}}</p>
          {% endif %}
          <p><b>Fecha de creación:</b> {{notificacion.created_at}}</p>
        </td>
        <td>
          <p><b>Título:</b></p>
          <p>{{ notificacion.titulo|truncatechars:50 }}</p>
          <p><b>Descripción:</b></p>
          <p>{{ notificacion.cuerpo|truncatechars:50}}</p>
        </td>
        <td>
          <a class="btn btn-primary" href="{%url 'notificaciones:notificacionGlobal' notificacion.id%}">
            Enviar ahora <i class="fas fa-bullhorn "></i>
          </a>
          <a href="{%url 'notificaciones:update' notificacion.id%}" class="btn btn-primary">
            Editar <i class="fas fa-edit "></i></a>
        </td>
        <td>
          <input type="checkbox" {%if notificacion.activo%}checked{%endif%} class="use-modal" data-toggle="toggle"
            data-type="checkbox" data-on="Habilitado" data-off="Deshabilitado" data-onstyle="success"
            data-offstyle="danger" data-target="#mainModal"
            data-url-activar="{%url 'notificaciones:change' notificacion.pk%}"
            data-url-eliminar="{%url 'notificaciones:change' notificacion.pk%}">
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <h4>
        No se encontraron datos.
      </h4>
      {% endif %}
    </table>
    {% include "pagination.html" %}
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script type="text/javascript" src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal.js' %}"></script>
{% endblock %}
