{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock specific_head %}

{% block main %}
<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">{{title}}</h2>
  </div>

  <form action="{% url 'sponsor:listarSucursal' %}" method="get">
    <select class="form-control" name="sucursales" id="sucursales">
      <option value="inicial" selected disabled>Seleccione una sucursal</option>
      {% if sponsors %}
      {% for sponsor in sponsors %}
      <option value="{{ sponsor.id }}">{{ sponsor.nombre }}</option>
      {% endfor %}
      {% else %}
      <option value="Sin datos" selected disabled>Sin datos</option>
      {% endif %}
    </select>
    <div class="d-flex justify-content-end">
      <input style="margin-top: 1%;" class="btn btn-primary" type="submit" value="Filtrar" />
    </div>
  </form>

  <div class="col">
    <a href="{% url 'sponsor:crearSucursal' %}" class="btn btn-primary float-right">Agregar sucursal <i
        class="fas fa-plus-circle"> </i></a>
    <a href="{% url 'sponsor:listar' %}" class="btn btn-primary float-right"
      style="margin-right: 2%;">Regresar
      <i class="fas fa-arrow-alt-circle-left"></i></a>
  </div>
  <hr>
</div>
<div class="row mt-4">
  <div class="col-12">
    <form method="get">
      {% include "export_records.html" %}
    </form>
  </div>
  <div class="col-12 table-container">
    <table class="table table-responsive-lg table-condensed table-hover text-center" id="tabla-sponsor">
      <thead class="thead-light">
        <tr>
          <th scope="col">Imágen</th>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Dirección</th>
          <th scope="col">Contacto</th>
          <th scope="col">Horarios</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>

        {% if page_obj %}
        {% for sucursal in page_obj %}
        <tr class="text-center">
          <td scope="row"><img style="width: 80px; height: 80px;" src="/media/{{sucursal.imagen}}" alt=""></td>
          <td>{{sucursal.codigo}}</td>
          <td>{{sucursal.nombre}}</td>
          <td>{{sucursal.direccion}}</td>
          <td>Telf: {{sucursal.telefono}} <br>
            Cel: {{sucursal.celular}} <br>
            Email: {{sucursal.correo}}
          </td>
          </td>
          <td>{{sucursal.horario_apertura}} - {{sucursal.horario_cierre}}</td>
          <td class="text-center">
            <input type="checkbox" {%if sucursal.activo%}checked{%endif%} class="use-modal" data-toggle="toggle" 
            data-type="checkbox" data-on="Habilitado" data-off="Deshabilitado" data-onstyle="success" data-offstyle="danger" 
            data-target="#mainModal" data-url-activar="{%url 'sponsor:changeSucursal' sucursal.pk %}"
            data-url-eliminar="{%url 'sponsor:changeSucursal' sucursal.pk %}"
            >
          </td>
          <td>

            <a href="{% url 'sponsor:editarSucursal' sucursal.id %}" class="btn btn-sm btn-primary">
              <i class="fas fa-edit "></i></a>

            <a class="btn btn-sm btn-danger use-modal" data-toggle='modal' data-target="#mainModal"
              data-url="{% url 'sponsor:eliminarSucursal' sucursal.id %}" href="#">
              <i class="fas fa-times "></i></a>
          </td>

        </tr>
        {% endfor %}
        {% else %}
        <h4>
          No se encontraron datos.
        </h4>
        {% endif %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsDates.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal.js' %}"></script>
<script>
  $(".export").click(function () {
    $("#export").val($(this).data('value'));
    $('form').submit()
  });
  $('button[type="submit"]').click(function (e) {
    $("#export").val('');
  })
</script>
{% endblock %}