{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock specific_head %}

{% block main %}
<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">{{title}}</h2>
  </div>
  <div class="col">
    <a href="{% url 'sponsor:crear' %}" class="btn btn-primary float-right">Agregar sponsor <i
        class="fas fa-plus-circle"> </i></a>
        <a style="margin-right: 1%;" href="{% url 'sponsor:listarSucursal' %}" class="btn btn-primary float-right">Ver sucursales <i
          class="fas fa-plus-circle"> </i></a>
  </div>
  <hr>
</div>
<div class="row mt-4">
  <div class="col-12">
    <form method="get">
      {% include "export_records.html" %}
    </form>
  </div>
  <div class="col-12 table-container">
    <table class="table table-responsive-lg table-condensed table-hover text-center" id="tabla-sponsor">
      <thead class="thead-light">
        <tr>
          <th scope="col">Imágen</th>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Contacto</th>
          <th scope="col">Links</th>
          <th scope="col">Plazo</th>
          <th scope="col">Horarios</th>
          <th scope="col">Activo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% if page_obj %}
        {% for sponsor in page_obj %}
        <tr class="text-center">
          <td scope="row"><img style="width: 80px; height: 80px;" src="/media/{{sponsor.imagen}}" alt=""></td>
          <td>{{sponsor.codigo}}</td>
          <td>{{sponsor.nombre}}</td>
          <td><div class="detailPanel">{{sponsor.descripcion}} </div></td>
          <td>
            <p>Nombre: {{sponsor.nombre_contacto}}</p>
            <p>Telf: {{sponsor.telefono}} </p>
            <p>Cel: {{sponsor.celular}} </p>
            <p>Email: {{sponsor.correo}}</p>
          </td>
          <td>
            <p> {{sponsor.url}}</p> 
            {% for red in sponsor.listaRedes %}
              <p>{{red}}</p>
              {% endfor %}
          </td>
          <td>{{sponsor.fecha_inicio}} - {{sponsor.fecha_fin}}</td>
          <td>{{sponsor.horario_apertura}} - {{sponsor.horario_cierre}}</td>
          <td class="text-center">
            <input type="checkbox" {%if sponsor.activo%}checked{%endif%} class="use-modal" data-toggle="toggle" 
            data-type="checkbox" data-on="Habilitado" data-off="Deshabilitado" data-onstyle="success" data-offstyle="danger" 
            data-target="#mainModal" data-url-activar="{%url 'sponsor:change' sponsor.pk %}"
            data-url-eliminar="{%url 'sponsor:change' sponsor.pk %}"
            >
          </td>
          <td>
            <a href="{% url 'sponsor:update' sponsor.pk %}" class="btn btn-sm btn-primary">
              <i class="fas fa-edit "></i></a>

            <a class="btn btn-sm btn-warning use-modal" data-toggle='modal' data-target="#mainModal"
            data-url="{%url 'sponsor:eliminar' sponsor.id%}" href="#">
              <i class="fas fa-trash "></i></a>
            
          </td>
          
        </tr>
        {% endfor %}
        {% else %}
        <h4>
          No se encontraron datos.
        </h4>
        {% endif %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
  <hr width="100%" />
  <div class="col-12">
    <div class="d-flex justify-content-around">
      <p><b>Total de anunciantes: </b> {{total}} </p>
      <p><b>Activos: </b> {{activos}} </p>
      <p><b>Inactivos: </b> {{inactivos}} </p>
    </div>
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsDates.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal.js' %}"></script>
<script>
  $(".export").click(function () {
    $("#export").val($(this).data('value'));
    $('form').submit()
  });
  $('button[type="submit"]').click(function (e) {
    $("#export").val('');
  })
</script>
{% endblock %}
