{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock specific_head %}

{% block main %}
<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">{{title}}</h2>
  </div>
  <div class="col">
    <a href="{% url 'sponsor:crear' %}" class="btn btn-primary float-right">Agregar sponsor <i
        class="fas fa-plus-circle"> </i></a>
  </div>
  <hr>
</div>
<div class="row mt-4">
  <div class="col-12">
    <form method="get">
      {% include "export_records.html" %}
    </form>
  </div>
  <div class="col-12 table-container">
    <table class="table table-responsive-lg table-condensed table-hover text-center" id="tabla-sponsor">
      <thead class="thead-light">
        <tr>
          <th scope="col">Imágen</th>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Contacto</th>
          <th scope="col">URL</th>
          <th scope="col">Fecha inicio</th>
          <th scope="col">Fecha fin</th>
          <th scope="col">Activo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% if page_obj %}
        {% for sponsor in page_obj %}
        <tr class="text-center">
          <td scope="row"><img style="width: 80px; height: 80px;" src="/media/{{sponsor.imagen}}" alt=""></td>
          <td>{{sponsor.codigo}}</td>
          <td>{{sponsor.nombre}}</td>
          <td><div class="detailPanel">{{sponsor.descripcion}} </div></td>
          <td>{{sponsor.nombre_contacto}}: {{sponsor.telefono}}</td>
          <td>{{sponsor.url}}</td>
          <td>{{sponsor.fecha_inicio}}</td>
          <td>{{sponsor.fecha_fin}}</td>
          <td>
            {%if sponsor.activo == 0 and sponsor.compararFechas %}
            <span class="text-warning">Inactivo</span>
            {%elif sponsor.compararFechas %}
            <span class="text-success">Activo</span>
            {%else%}
            <span class="text-danger">Caducado</span>
            {%endif%}
          </td>
          <td>
            {% if sponsor.compararFechas %}
            <a href="{% url 'sponsor:update' sponsor.pk %}" class="btn btn-sm btn-primary">
              <i class="fas fa-edit "></i></a>

              {% if sponsor.activo %}
            <a class="btn btn-sm btn-success" 
               href="{%url 'sponsor:change' sponsor.pk%}"><i class="fas fa-power-off "></i></a>
              {% else %}
            <a class="btn btn-sm btn-warning" 
               href="{%url 'sponsor:change' sponsor.pk%}"><i class="fas fa-power-off "></i></a>

               {%endif%}
               <a class="btn btn-sm btn-danger use-modal" data-toggle='modal' data-target="#mainModal"
               data-url="{%url 'sponsor:eliminar' sponsor.id%}" href="#">
                 <i class="fas fa-times "></i></a>
            {% else %}
            <a class="btn btn-sm btn-warning use-modal" data-toggle='modal' data-target="#mainModal"
            data-url="{%url 'sponsor:eliminar' sponsor.id%}" href="#">
              <i class="fas fa-check "></i></a>
            {% endif %}
            
          </td>
          
        </tr>
        {% endfor %}
        {% else %}
        <h4>
          No se encontraron datos.
        </h4>
        {% endif %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsDates.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal2.js' %}"></script>
<script>
  $(".export").click(function () {
    $("#export").val($(this).data('value'));
    $('form').submit()
  });
  $('button[type="submit"]').click(function (e) {
    $("#export").val('');
  })
</script>
{% endblock %}
