{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% csrf_token %}
{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock specific_head %}

{% block main %}
<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">{{title}}</h2>
  </div>
  <div class="col">
    <form action="{% url 'gimnasio:changeAforo' %}" method="get">
      {% csrf_token %}
      <div class="input-group mb-3">
        <input id="aforo" name="aforo" type="number" max="100" min="0" class="form-control" placeholder="Aforo global" aria-label=""
          aria-describedby="basic-addon1">
        <div class="input-group-prepend">
          <input type="submit" class="btn btn-primary" type="button" value="Cambiar"></input>
        </div>
      </div>
    </form>
  </div>
  <div class="col">
    <a href="{% url 'gimnasio:crear' %}" class="btn btn-primary float-right">Agregar gimnasio <i
        class="fas fa-plus-circle"> </i></a>
  </div>
  <hr>
</div>
<div class="row mt-4">
  <div class="col-12">
    <form method="get">
      {% include "export_records.html" %}
    </form>
  </div>
  <div class="col-12 table-container">
    <table class="table table-responsive-lg table-condensed table-hover text-center" id="tabla-sponsor">
      <thead class="thead-light">
        <tr>
          <th scope="col">Imágen</th>
          <th scope="col">Nombre</th>
          <!-- <th scope="col">Tipo</th> -->
          <th scope="col">Teléfono</th>
          <th scope="col">Ubicación</th>
          <th scope="col">Horarios</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Capacidad</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% if page_obj %}
        {% for gimnasio in page_obj %}
        <tr class="text-center">
          <td scope="row"><img style="width: 80px; height: 80px;" src="/media/{{gimnasio.imagen}}" alt=""></td>
          <td>{{gimnasio.nombre}}</td>
          <!-- <td>{{gimnasio.tipo}}</td> -->
          <td>0{{gimnasio.telefono}}</td>
          <td>{{gimnasio.ubicacion}}</td>
          <td>{{gimnasio.horario_inicio}} - {{gimnasio.horario_fin}}</td>
          <td>{{gimnasio.ciudad}}</td>
          <td>
            <p>Capacidad: {{gimnasio.capacidad}}</p>
            <p>Límite: {{gimnasio.aforo}}%</p>
            <p>Aforo: {{gimnasio.personas}}</p>
          </td>
          <td>
            {% if gimnasio.estado == True %}
            <span class="text-success">Activo</span>
            {%else%}
            <span class="text-danger">Inactivo</span>
            {%endif%}
          </td>
          <td>
            <a href="{% url 'gimnasio:update' gimnasio.id %}" class="btn btn-sm btn-primary">
              <i class="fas fa-edit "></i></a>

            {% if gimnasio.estado == True %}
            <a class="btn btn-sm btn-success" href="{% url 'gimnasio:changeState' gimnasio.id %}"><i
                class="fas fa-power-off "></i></a>
            {%else%}
            <a class="btn btn-sm btn-danger" href="{% url 'gimnasio:changeState' gimnasio.id %}"><i
                class="fas fa-power-off "></i></a>
            {%endif%}
            <a class="btn btn-sm btn-danger use-modal" data-toggle='modal' data-target="#mainModal"
              data-url="{% url 'gimnasio:eliminar' gimnasio.id %}" href="#">
              <i class="fas fa-times "></i></a>
          </td>

        </tr>
        {% endfor %}
        {% else %}
        <h4>
          No se encontraron datos.
        </h4>
        {% endif %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsDates.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal2.js' %}"></script>
<script>
  $(".export").click(function () {
    $("#export").val($(this).data('value'));
    $('form').submit()
  });
  $('button[type="submit"]').click(function (e) {
    $("#export").val('');
  })
</script>
{% endblock %}