<div class="modal-header">
  <h5 class="modal-title" id="ordenTitle">Estado del sponsor</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% csrf_token %}
<form method="POST" action="{% url 'promociones:changeState' promocion.pk %}">
  {% csrf_token %}

  <div class="modal-body">
    {% if sponsor.activo %}
    ¿Desea desactivar el siguiente sponsor?
    {% else %}
    ¿Desea activar el siguiente sponsor?
    {% endif %}
   
    <div class="row">
      <div class="col-3">
        Título
      </div>
      <div class="col">
        {{promocion.titulo}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Descripción
      </div>
      <div class="col">
        {{promocion.descripcion}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Imagen
      </div>
      <div class="col">
        <img src="/media/{{promocion.imagen}}" style="width: 100px;height: 100px;" alt="">
      </div>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    {% if promocion.activo %}
    <button id="anular" class="btn btn-danger mr-3" type="submit">Desactivar</button>
    {% else %}
    <button id="anular" class="btn btn-success mr-3" type="submit">Activar</button>
    {% endif %}
  </div>
</form>
