{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock specific_head %}

{% block main %}
<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">{{title}}</h2>
  </div>
  <div class="col">
    <a href="" class="btn btn-primary float-right">Agregar máquina <i
        class="fas fa-plus-circle"> </i></a>
  </div>
  <hr>
</div>
<div class="row mt-4">
  <div class="col-12">
    <form method="get">
      {% include "export_records.html" %}
    </form>
  </div>
  <div class="col-12 table-container">
    <table class="table table-responsive-lg table-condensed table-hover text-center" id="tabla-sponsor">
      <thead class="thead-light">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Usuario</th>
          <th scope="col">Máquina</th>
          <th scope="col">Posición</th>
          <th scope="col">Fecha de reserva</th>
          <th scope="col">Horario de reserva</th>
          <th scope="col">Fecha de creación</th>
        </tr>
      </thead>
      <tbody>
        {% if page_obj %}
        {% for reserva in page_obj %}
        <tr class="text-center">
          <td>{{reserva.codigo}}</td>
          <td>{{reserva.usuario.nombres}} {{reserva.usuario.apellidos}}</td>
          <td>{{reserva.maquina.nombre}}</td>
          <td>{{reserva.posicion.fila}}{{reserva.posicion.columna}}</td>
          <td>{{reserva.fecha}}</td>
          <td>{{reserva.horario_inicio}}-{{reserva.horario_fin}}</td>
          <td>{{reserva.created_at}}</td>
          
        </tr>
        {% endfor %}
        {% else %}
        <h4>
          No se encontraron datos.
        </h4>
        {% endif %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsDates.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal.js' %}"></script>
<script>
  $(".export").click(function () {
    $("#export").val($(this).data('value'));
    $('form').submit()
  });
  $('button[type="submit"]').click(function (e) {
    $("#export").val('');
  })
</script>
{% endblock %}
