<div class="modal-header">
  <h5 class="modal-title" id="rolTitle">Eliminar Rol</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form method="POST" action="{% url 'seguridad:eliminar_rol' rol.pk %}">
  {% csrf_token %}
  <div class="modal-body">
    ¿Desea eliminar el siguiente rol?
    <div class="row">
      <div class="col-3">Nombre</div>
      <div class="col">{{rol.name}}</div>
    </div>
    <div>
      <p>
        <b>CIUDADO:</b> Si elimina este grupo, los usuarios que lo tengan asignado, dejarán de tener
        un grupo y perderán sus permisos.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button id="anular" class="btn btn-danger mr-3" type="submit">Eliminar</button>
  </div>
</form>
