{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% csrf_token %}
{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock specific_head %}

{% block main %}
<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">{{title}}</h2>
  </div>
  <hr>
</div>
<div class="col-12 d-flex justify-content-end">
  <a class="btn btn-primary float-right" id="menu" href="{% url 'calendario:listarZona' %}">
    <i class="fa fa-map"></i> Ver zonas</a>
  <a class="btn btn-primary float-right" id="menu" href="{% url 'calendario:agregarHorario' %}">
    <i class="fa fa-plus-circle"></i> Agregar horario de máquinas</a>
  <a class="btn btn-primary float-right" id="menu" href="{% url 'reservas:listarMaquinas' %}">
    <i class="fa fa-calendar-plus"></i> Ver máquinas</a>
</div>
<div class="row mt-4 justify-content-left">
  <div class="col-6">
    <form method="get">
      {% crispy filter.form %}
    </form>
  </div>
</div>

<div class="row mt-4">
  {% csrf_token %}
  <div class="col-12 table-container">
    <table class="table table-responsive-lg table-condensed table-hover text-center" id="actividades">
      <thead class="thead-light">
        <tr>
          <th scope="col">Día</th>
          <th scope="col">Horario</th>
          <th scope="col">Actividad</th>
          <th scope="col">Categoría</th>
          <th scope="col">Gimnasio</th>
          <th scope="col">Activo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% if horarios %}
        {% for horario in horarios %}
        
        <tr class="text-center">
          <td>{{horario.nombreDia}}</td>
          <td>{{horario.horario_inicio}} - {{horario.horario_fin}}</td>
          <td>{{horario.maquina.nombre}}</td>
          <td>{{horario.maquina.categoria}}</td>
          <td>{{horario.maquina.gimnasio.nombre}}</td>

          {% if horario.maquina.activo%}
          <td style="color: green;">Activo</td>
          {% else %}
          <td style="color: red;">Activo</td>
          {% endif %}
          <td>
            <a href="{% url 'calendario:editarHorarioMaquina' horario.pk %}" class="btn btn-sm btn-primary">
              <i class="fas fa-edit "></i></a>
            <a class="btn btn-sm btn-danger use-modal" data-toggle='modal' data-target="#mainModal" data-url="{% url 'calendario:eliminarHorarioMaquina' horario.id %}"
              href="#">
              <i class="fas fa-times "></i></a>
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <td>
          <h4>
            No hay información disponible.
          </h4>
        </td>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsDates.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatableUtils.js' %}"></script>
<script>
  $(document).ready(function () {

    var table = tableInit("#actividades");

  });

</script>
<script>
  $(".export").click(function () {
    $("#export").val($(this).data('value'));
    $('form').submit()
  });
  $('button[type="submit"]').click(function (e) {
    $("#export").val('');
  })
</script>

{% endblock %}