<html>

<head>
  <title>{{title}}</title>
  {% include "header.html" %}
  {% block specific_head %} {% endblock specific_head%}
</head>

<body>
  {% block content %} {% endblock content %}
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.7/firebase-app.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyCy7_eBMrImzADLJQgZP5zDKcte1mET-PQ",
      authDomain: "novagym-77b82.firebaseapp.com",
      projectId: "novagym-77b82",
      storageBucket: "novagym-77b82.appspot.com",
      messagingSenderId: "494810561129",
      appId: "1:494810561129:web:689bd470943cd035ef40f8"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
  </script>
</body>
{% include "footer.html" %}
{% block specific_scripts %} {% endblock specific_scripts%}

</html>