{% load static %}
<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top navbar">
    <div class="navbar__logo d-flex align-items-center justify-content-center px-2 px-xl-5">
      <img src="{% static 'images/logo.png' %}" alt="logo" class="">
      <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
      {% if user.is_authenticated %}
      <div class="mr-4">
        <a class="btn" href="#">
          <i class="far fa-bell"></i>
        </a>
      </div>
      <div class="dropdown">
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user"></i> Hola, {{user.detalles.nombres}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Agregar Usuario</a>
          <a class="dropdown-item" href="#">Administrar Usuario</a>
          <a class="dropdown-item" href="#">Editar Bienvenida</a>
          <a class="dropdown-item" href="#">Editar mail de compra</a>
          <a class="dropdown-item" href="{% url 'seguridad:logout_admin' %}?next={{request.path}}">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
          </a>
        </div>
      </div>
      {% else %}
      <a class="btn btn-light btn-sm"
        href="{% url 'seguridad:login_admin' %}?next={{request.path}}">
        <i class="fas fa-sign-out-alt"></i> Iniciar Sesión
      </a>
      {% endif %}
    </div>
  </nav>
</header>
