{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Jose Escobar" />
<link href="{% static 'css/colors.css' %}" rel="stylesheet" />
<link href="{% static 'css/external/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/base.css' %}" rel="stylesheet" />
<link rel="shortcut icon" type="image/jpeg" href="{% static 'favicon.ico' %}" />
<link href="{% static 'css/external/jquery.dataTables.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/external/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/external/fontawesome.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/external/brands.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/external/regular.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/external/solid.min.css' %}" rel="stylesheet" />
