<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.resolver_match.view_name == 'seguridad:principal' %}active{% endif %}">
          <a class="nav-link" href="{% url 'seguridad:principal' %}">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        {% if perms.novagym.view_empleado %}
        <li class="nav-item {% if request.resolver_match.namespace == 'seguridad' %}active{% endif %}">
          <a class="nav-link" href="{% url 'seguridad:listar' %}">Empleados</a>
        </li>
        {% endif %}
        {% comment %}
        {% if perms.novagym.view_cliente %}
        <li class="nav-item {% if request.resolver_match.namespace == 'novagym:cliente' %}active{% endif %}">
          <a class="nav-link" href="{% url 'novagym:cliente:listar' %}">Clientes</a>
        </li>
        {% endif %}
        {% if perms.novagym.view_producto %}
        <li class="nav-item {% if request.resolver_match.namespace == 'novagym:producto' %}active{% endif %}">
          <a class="nav-link" href="{% url 'novagym:producto:listar' %}">Productos</a>
        </li>
        {% endif %}
        {% if perms.novagym.view_orden %}
        <li class="nav-item {% if request.resolver_match.namespace == 'novagym:orden' %}active{% endif %}">
          <a class="nav-link" href="{% url 'novagym:orden:listar' %}">Pedidos</a>
        </li>
        {% endif %}
        {% if perms.novagym.view_notificacion %}
        <li class="nav-item {% if request.resolver_match.namespace == 'novagym:notificacion' %}active{% endif %}">
          <a class="nav-link" href="{% url 'novagym:notificacion:listar' %}">Notificaciones</a>
        </li>
        {% endif %}
        {% endcomment %}
      </ul>
      <span class="v-align white-text mr-2">{{user.username}} (
        {% for g in user.groups.all %}{{ g }}<span> </span>{% endfor %}
        )</span>
      {% if user.is_authenticated %}
      <a class="v-align align-middle btn btn-light btn-sm"
        href="{% url 'seguridad:logout_admin' %}?next={{request.path}}"><i class="fas fa-sign-out-alt"></i> Cerrar
        Sesión</a>
      {% else %}
      <a class="v-align align-middle btn btn-light btn-sm"
        href="{% url 'seguridad:login_admin' %}?next={{request.path}}"><i class="fas fa-sign-out-alt"></i> Iniciar
        Sesión</a>
      {% endif %}
    </div>
  </nav>
</header>
