{% load static %}
<div class="row" id="accordion">
  <div class="col-12">
    <div class="row menu-container {% if request.resolver_match.view_name == 'novagym:principal' %}menu-container--active{% endif %}">
      <div class="col-12">
        <a class="menu" href="{% url 'novagym:principal' %}">
          <div class="row">
            <img
              src="{% static 'images/admin-icons/dashboard_icon.png'%}"
              alt="dashboard"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Dashboard</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div
      class="row  menu-container menu menu--collapsable {% if request.resolver_match.namespace == 'seguridad' %}menu-container--active{% endif %}"
      data-toggle="collapse"
      data-target="#collaps-user"
      aria-expanded="true"
      aria-controls="collaps-user"
    >
      <div class="col-12">
        <div class="row">
          <img
            src="{% static 'images/admin-icons/usuarios_icon.png'%}"
            alt="usuarios"
            class="menu__image"
          />
          <div class="d-flex align-items-center">
            <span class="menu__title">Usuarios</span>
            <span class="px-4">
              <i class="fas fa-angle-down"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div id="collaps-user" class="collapse row menu menu--collapsable {% if request.resolver_match.namespace == 'seguridad' %}show{% endif %} ">
      <div class="col-12">
        <a class="menu" href="{% url 'seguridad:listar' type='E'%}">
          <div class="row menu-container {% if view.kwargs.type == 'E' %}menu-container--active{% endif %}">
            <img
              src="{% static 'images/admin-icons/usuarios_icon.png'%}"
              alt="empleados"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Empleados</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12">
        <a class="menu" href="{% url 'seguridad:listar' type='C' %}">
          <div class="row menu-container {% if view.kwargs.type == 'C' %}menu-container--active{% endif %}">
            <img
              src="{% static 'images/admin-icons/usuarios_icon.png'%}"
              alt="clientes"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Clientes</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row menu-container {% if request.resolver_match.namespace == 'membresia' %}menu-container--active{% endif %}">
      <div class="col-12">
        <a class="menu" href="{% url 'membresia:listar' %}">
          <div class="row">
            <img
              src="{% static 'images/admin-icons/membresias_icon.png'%}"
              alt="notificaciones"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Membresías</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row menu-container {% if request.resolver_match.namespace == 'notificaciones' %}menu-container--active{% endif %}">
      <div class="col-12">
        <a class="menu" href="{% url 'notificaciones:listar' %}">
          <div class="row">
            <img
              src="{% static 'images/admin-icons/notificaciones_icon.png'%}"
              alt="notificaciones"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Notificaciones</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row menu-container {% if request.resolver_match.namespace == 'contactenos' %}menu-container--active{% endif %}">
      <div class="col-12">
        <a class="menu" href="{% url 'contactenos:buzon' %}">
          <div class="row">
            <img
              src="{% static 'images/admin-icons/sugerencias_icon.png'%}"
              alt="sugerencias"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Sugerencias</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row menu-container  {% if request.resolver_match.namespace == 'sponsor' %}menu-container--active{% endif %}">
      <div class="col-12">
        <a class="menu" href="{% url 'sponsor:listar' %}">
          <div class="row">
            <img
              src="{% static 'images/admin-icons/anunciantes_icon.png'%}"
              alt="anunciantes"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Anunciantes</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row menu-container {% if request.resolver_match.namespace == 'calendario' %}menu-container--active{% endif %}">
      <div class="col-12">
        <a class="menu" href="{% url 'calendario:listar' %}">
          <div class="row">
            <img
              src="{% static 'images/admin-icons/calendario_icon.png'%}"
              alt="calendario"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Calendario</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row menu-container">
      <div class="col-12">
        <a class="menu" href="">
          <div class="row">
            <img
              src="{% static 'images/admin-icons/reservaciones_icon.png'%}"
              alt="reservaciones"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Reservaciones</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row menu-container {% if request.resolver_match.namespace == 'productos' %}menu-container--active{% endif %}">
      <div class="col-12">
        <a class="menu" href="{% url 'productos:listarProductos' %}">
          <div class="row">
            <img
              src="{% static 'images/admin-icons/productos_icon.png'%}"
              alt="calendario"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Productos</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row menu-container {% if request.resolver_match.namespace == 'promociones' %}menu-container--active{% endif %}">
      <div class="col-12">
        <a class="menu" href="{% url 'promociones:listar' %}">
          <div class="row">
            <img
              src="{% static 'images/no_image.png'%}"
              alt="calendario"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Promociones</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div
      class="row  menu-container menu menu--collapsable"
      data-toggle="collapse"
      data-target="#collapsewo"
      aria-expanded="true"
      aria-controls="collapsewo"
    >
      <div class="col-12">
        <div class="row">
          <img
            src="{% static 'images/admin-icons/reporteria_icon.png'%}"
            alt="reporteria"
            class="menu__image"
          />
          <div class="d-flex align-items-center">
            <span class="menu__title">Reporteria</span>
            <span class="px-4">
              <i class="fas fa-angle-down"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div id="collapsewo" class="collapse row menu menu--collapsable">
      <div class="col-12">
        <a class="menu" href="">
          <div class="row menu-container">
            <img
              src="{% static 'images/admin-icons/ventas_icon.png'%}"
              alt="repo-ventas"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Ventas</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12">
        <a class="menu" href="">
          <div class="row menu-container">
            <img
              src="{% static 'images/admin-icons/novacoins_icon.png'%}"
              alt="repo-nc"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">NovaCoins</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row menu-container">
      <div class="col-12">
        <a class="menu" href="">
          <div class="row">
            <img
              src="{% static 'images/admin-icons/admin_nc_icon.png'%}"
              alt="administrar-nc"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Administrar NC</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row menu-container {% if request.resolver_match.namespace == 'gimnasio' %}menu-container--active{% endif %}">
      <div class="col-12">
        <a class="menu" href="{% url 'gimnasio:listar' %}">
          <div class="row">
            <img
              src="{% static 'images/admin-icons/horarios_icon.png'%}"
              alt="horarios"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Gimnasios</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row menu-container">
      <div class="col-12">
        <a class="menu" href="">
          <div class="row">
            <img
              src="{% static 'images/admin-icons/afiliados_icon.png'%}"
              alt="afiliados"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Afiliados</span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row menu-container {% if request.resolver_match.namespace == 'comunidad' %}menu-container--active{% endif %}">
      <div class="col-12">
        <a class="menu" href="{% url 'comunidad:publicacion_novagym' %}">
          <div class="row">
            <img
              src="{% static 'images/no_image.png'%}"
              alt="comunidad"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Comunidad</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% comment %} <div class="row menu-container">
      <div class="col-12">
        <a class="menu" href="{% url 'almacenamiento:almacenamiento_usuario' %}">
          <div class="row">
            <img
              src="{% static 'images/no_image.png'%}"
              alt="almacenamiento"
              class="menu__image"
            />
            <div class="d-flex align-items-center">
              <span class="menu__title">Almacenamiento</span>
            </div>
          </div>
        </a>
      </div>
    </div> {% endcomment %}

  </div>
</div>
