{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}

<div class="row mt-4">
    <div class="col">
        <h2 class="text-left">{{title}}</h2>
    </div>
    <hr>
</div>
<div class="row mt-4 justify-content-left">

    <div class="col-3" style="margin-bottom: 2%;">
        <form id="theForm" method="POST">
            <label for="daterange">Rango de fechas:</label>
            <input type="text" class="form-control pull-right" id="daterange" name="daterange" />
            <input class="btn btn-primary float-right" style="margin-top: 2%;margin-left: 2%;" type="submit" id="boton"
                value="Filtrar">
            <input class="btn btn-primary float-right" style="margin-top: 2%;" type="submit" id="todo" value="Ver todo">
        </form>
    </div>
    <div class="col-12 table-container" id="tableContainer">

        {% include 'ajax/tableBody.html' %}
    </div>


    {% endblock main %}

    {% block specific_scripts %}
    <script type="text/javascript" src="{% static 'js/datatableUtils.js' %}"></script>
    <script>
        dateRangeInit("daterange");

        $('#todo').click(function () {
            location.reload();
        });

        $(document).ready(function () {
            var table = tableInit("#reportes");
            $.ajax({
                data: $(this).serializeArray(),
                url: "{% url 'productos:all' %}",
                success: function (response) {
                    dibujarTabla(table, response)
                },
                error: function (response) {
                    console.log(response.responseJSON.errors)
                }
            });

            $('#theForm').submit(function (event) {
                event.preventDefault()
                $.ajax({
                    data: $(this).serializeArray(),
                    url: "{% url 'productos:dateFilter' %}",
                    success: function (response) {
                        dibujarTabla(table, response)
                    },
                    error: function (response) {
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
        });

    </script>
    {% endblock %}