{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block specific_head %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/external/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock specific_head %}

{% block main %}
<div class="row mt-4">
  <div class="col-6">
    <h2 class="text-left">{{title}}</h2>
  </div>
  <hr>
</div>
<div class="row mt-4">
  <div class="col-6">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="col-6">
        {{ form.cedula.label_tag }}
        <p> {{ form.cedula }} </p>
        {{ form.cedula.errors }}
        {{ form.codigo.label_tag }}
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">SPR-</div>
          </div>
          {{ form.codigo }}
          {{ form.codigo.errors }}
        </div>
        <input class="btn btn-primary mt-1" type="submit" value="Entregar">
      </div>
    </form>
  </div>
</div>
<hr width="100%" />

{% endblock main %}

{% block specific_scripts %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsDates.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utilsModal.js' %}"></script>
<script>
  $(".export").click(function () {
    $("#export").val($(this).data('value'));
    $('form').submit()
  });
  $('button[type="submit"]').click(function (e) {
    $("#export").val('');
  })
</script>
{% endblock %}