<div class="modal-header">
  <h5 class="modal-title" id="ordenTitle">Eliminar notificación</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form method="POST" action="{%url 'notificaciones:eliminar' notificacion.id%}">
  {% csrf_token %}

  <div class="modal-body">
    ¿Desea eliminar la siguiente notificación?
    <div class="row">
      <div class="col-3">
        Título
      </div>
      <div class="col">
        {{notificacion.titulo}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Inicio
      </div>
      <div class="col">
        {{notificacion.fecha_hora_inicio}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Fin
      </div>
      <div class="col">
        {{notificacion.fecha_hora_fin}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Frecuencia
      </div>
      <div class="col">
        {{notificacion.frecuencia}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Imagen
      </div>
      <div class="col">
        <img src="{{notificacion.imagen}}" style="width: 100px;height: 100px;" alt="">
      </div>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button id="anular" class="btn btn-danger mr-3" type="submit"> Eliminar </button>
  </div>
</form>
